{% extends "blog/base.html" %}
{% block content %}
<h1>Search Results</h1>
  {% if query %}
      <ul class="">
        {% if profiles %}
          {% for profile in profiles %}
            <li class="">{{ profile }}
              <a href="{% url 'send-friend-request' profile.user_id %}">
                <button style="float: right" class="" type="submit">Add Friend</button>
              </a>
            </li>
          {% endfor %}
        {% else %}
          <p>Sorry, No friend exists with the provided information.</p>
        {% endif %}
      </ul>
  {% else %}
    <p>Opps... Did not find any Profile</p>
  {% endif %}
<h1>Your Friends</h1>
  {% if friends %}
    {% for friend in friends %}
      <ul>
        <li class="">{{ friend }}
          <a href="{% url 'remove-friends' friend.id %}">
            <button style="float: right" type="submit">Remove Friend</button>
          </a>
          <a href="{% url 'about-friend' friend.id %}">
            <button style="float: right" type="submit">Visit Profile</button>
          </a>
        </li>
      </ul>
    {% endfor %}
  {% else %}
    <p>Not found any friend</p>
  {% endif %}
{% endblock content %}