{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="">
    <form method="post">
        {% csrf_token %}
        <fieldset class="">
            <legend class="">Log In</legend>
            {{ form|crispy }}
        </fieldset>
        <br/>
        <div class="">
            <button class="" type="submit">Log In</button>
            <small class="">
                <a href="{% url 'password_reset' %}">Forgot Password?</a>
            </small>
        </div>
    </form>
    <br/>
    <div class="">
        <small class="">Need an Anccount? <a href="{% url 'register' %}">Sign Up Now</a> </small>
    </div>
</div>
{% endblock content %}